[user]
email = vinlin24@outlook.com
name = Vincent Lin

[core]
editor = code

[alias]
# Meta commands
gl = !"source ~/.gitfuncs; gl"
alias = !"source ~/.gitfuncs; alias"
cfg = !code ~/.gitconfig

# Primary workflow
s = status
staged = diff --staged
cm = !"source ~/.gitfuncs; cm"
sync = fetch --all
ready = !git lg 'HEAD@{u}..HEAD'
gud = push --set-upstream origin HEAD

# Branches and paths
co = checkout
br = branch
urls = remote -v
tracking = log -1 'HEAD@{u}'
ls = ls-files
root = rev-parse --show-toplevel

# Recovery
unstage = restore --staged
untrack = rm --cached
noedit = commit --amend --no-edit
save = stash push
load = stash apply
undo = reset HEAD~
redo = reset 'HEAD@{1}'

# History checking
lg = !"source ~/.gitfuncs; lg"
last = log -1 HEAD --stat
graph = log --all --graph --oneline --decorate
search = !git rev-list --all | xargs git grep -F
match = !git rev-list --all | xargs git grep -E
history = log --all -E --grep

# Statistics
len = !"source ~/.gitfuncs; len"
total = rev-list --count
contribs = shortlog -s -n --all --no-merges

[init]
defaultBranch = main
