# Binary files
*.o
*.exe

# Python
__pycache__/
.venv/

# Personal VS Code workspace settings
.vscode*/
*.code-workspace

# Commit message file
COMMIT_MESSAGE

# Playground for throwaway code
/temp/

# Universal exception
!.gitkeep
